:root {
	--white-hsl-values: 0, 0%, 99%;
	--black-hsl-values: 0, 0%, 10%;
	--light-gray-hsl-values: 0, 0%, 95%;
	--blue-hsl-values: 209, 100%, 50%;
	--dark-blue-hsl-values: 209, 100%, 30%;

	--white: hsl(var(--white-hsl-values));
	--black: hsl(var(--black-hsl-values));
	--light-grey: hsl(var(--light-gray-hsl-values));
	--blue: hsl(var(--blue-hsl-values));
	--dark-blue: hsl(var(--dark-blue-hsl-values));

	--heading-family: 'Potta One', cursive;
	--body-family: 'Raleway', sans-serif;
}

body {
	box-sizing: border-box;
	margin: 0;
	background: var(--light-grey);
	color: var(--black);
	font-family: var(--body-family);
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-family: var(--heading-family);
}

input {
	margin: 5px 0;
	width: 50vw;
	max-width: 500px;
	box-shadow: 0 2px 2px hsla(var(--black-hsl-values), 0.25);
	border: none;
	width: 300px;
	height: 50px;
	border-radius: 0.5em;
	text-align: center;
	font-size: 1.1em;
	font-family: var(--body-family);
}

input:hover {
	transition: transform 0.2s;
	box-shadow: 0 2px 4px hsla(var(--black-hsl-values), 0.25);
	transform: scale(1.005);
}

input::placeholder {
	color: hsla(var(--black-hsl-values), 0.5);
	font-family: var(--body-family);
}

input:focus {
	outline: none;
	box-shadow: 0 0 0 3px hsl(var(--blue-hsl-values), 0.6);
	transform: scale(1.01);
}

input:focus::placeholder {
	color: transparent;
}

button {
	font-size: 16px;
	font-weight: 700;
	padding: 2px 20px;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container section {
	display: none;
}

.container section.active {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	box-shadow: 2px 2px 4px hsla(var(--black-hsl-values), 0.5);
	width: 250px;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
}

.card:hover {
	transition: transform 0.3s;
	box-shadow: 3px 3px 6px hsla(var(--black-hsl-values), 0.5);
	transform: scale(1.02);
}

.card:first-of-type {
	margin-top: 40px;
}

.card p {
	text-transform: capitalize;
}

.card-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: hsla(var(--black-hsl-values), 0.95);
	color: var(--black);
}

.card-modal__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85vw;
	height: 50vh;
	background-color: var(--light-grey);
	padding: 2px 20px;
	position: relative;
}

.card-modal__content p {
	max-width: 90%;
}

.card-modal__min-price {
	margin-top: 0;
	font-weight: bold;
	font-size: 24px;
}

.card-modal__close {
	color: var(--black);
	background-color: transparent;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 5em;
	text-decoration: none;
}

.hidden {
	visibility: hidden;
}

.btn {
	background-color: var(--blue);
	color: var(--light-grey);
	border: none;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	box-shadow: 0 2px 2px hsla(var(--black-hsl-values), 0.25);
}

.btn:hover {
	transition: transform 0.1s ease-in;
	box-shadow: 0 3px 5px hsla(var(--black-hsl-values), 0.25);
	transform: scale(1.02);
}

.btn:active {
	transform: scale(0.95);
	box-shadow: none;
}

.btn:focus {
	outline: none;
	transform: scale(1.01);
	background-color: var(--dark-blue);
}

.search-btn {
	margin-top: 1em;
	height: 50px;
	width: 300px;
}

/*
===== TABLET BREAKPOINT =====
*/

@media screen and (min-width: 768px) {
	input {
		width: 400px;
	}

	.search-btn {
		width: 400px;
	}
}

/*
===== DESKTOP BREAKPOINT ====
*/
@media screen and (min-width: 1200px) {
	input {
		width: 750px;
	}

	.search-btn {
		width: 500px;
	}
}
